<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>start</title>
    <link rel="stylesheet" href="./css/nav.css">
    <link rel="stylesheet" href="./css/start.css">
</head>
<body>
    <!-- Nav bar -->
    <nav class="nav">
        <div class="logo">
            <img src="./images/SIH-Logo.png" alt="">
            <!-- <img src="./images/emblem-dark.png" alt=""> -->
            <img src="./images/swach-bharat.png" alt="">
        </div>
        <div class="login">
            <a href=""><button>Login</button></a>
        </div>
    </nav>
    <img class="indCol" src="./images/nav_bg.png" alt="">
    
    <!-- Query Part -->
    <div class="heading">Tell us what brings you here ?</div>



</body>
</html>